@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
}

.title-1 {
    font-size: 36px;
    color: #fff;
}

.title-2, .title-3 {
    font-size: 36px;
    color: rgb(85, 95, 102);
}

.title-4 {
    font-size: 36px;
    color: #DFAF69;
}
.p-1 {
    font-size: 20px;
    color: #fff;
}

.p-2 {
    font-size: 20px;
    color: rgb(85, 95, 102);
}

.font-semi-bold {
    font-weight: 600;
}

.font-extra-bold {
    font-weight: 800;
}

.text-center {
    text-align: center;
}

.background {
    background: #D9D9D9
}

.background-gray {
    background: rgb(85, 95, 102);
    background: linear-gradient(90deg, rgba(85, 95, 102, 1) 0%, rgba(114, 126, 135, 1) 49%, rgba(94, 107, 117, 1) 100%);
}

.background-red {
    background: rgb(214, 107, 114);
    background: linear-gradient(90deg, rgba(214, 107, 114, 1) 0%, rgba(228, 143, 128, 1) 49%, rgba(200, 60, 57, 1) 100%);
}

body {
    margin: 0;
    padding: 0;
}

nav,
section {
    width: calc(100% - 70px);
    max-width: 1024px;
    margin: auto;
    overflow: auto;
}

section {
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main section {
    min-height: 900px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.logo {
    border-radius: 50%;
    flex-shrink: 0;
}

.burger-icon {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 7px;
    text-align: center;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    width: 20px;
}

.search-input {
    background: #D9D9D9;
    border: none;
    border-radius: 15px;
    height: 30px;
}

.church-photo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
}

.church-photo-container p {
    font-size: 40px;
    font-weight: 400;
}

.church-photo {
    content: url("./church-photo.png");
    border: 1px solid #ddd;
    border-radius: 30px;
    max-width: 100%;
}

.confession-button-and-img {
    display: flex;
    height: 300px;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.confession-button-and-img button {
    width: 267px;
    height: 71px;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background: #A1A1A1;
    color: white;
}

.confession-button-and-img button:hover {
    background: #9b9b9b;
}

.meeting-days-cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.meeting-day-card p:first-child {
    color: rgb(255, 255, 255);
    font-size: 23px;
    border-radius: 30px;
    background-color: rgb(85, 95, 102);
    background-image: linear-gradient(90deg, rgba(85, 95, 102, 1) 0%, rgba(114, 126, 135, 1) 49%, rgba(94, 107, 117, 1) 100%);
    font-weight: 700;
    width: 270px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 47px;
}

.meeting-day-card p:nth-child(2),
.meeting-day-card p:nth-child(3) {
    color: rgb(85, 95, 102);
    font-size: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.meeting-day-card p:nth-child(2) {
    text-transform: uppercase;
}

.yt-text-and-img {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 30px;
}

.yt-text-and-img div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.yt-text-and-img p {
    font-weight: 300;
    font-size: 28px;
    text-align: left;
    width: 395px;
}

.image {
    transform: translate(30%, 8%);
}


.map-container {
    overflow: visible;
    margin-bottom: 0px;
}

.map-container {
    color: #6C6C6C;
}

.map {
    height: 380px;
    width: 100%;
    background: url('./map.png');
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 40px;
    box-shadow: 5px 5px 78px 13px rgba(0, 0, 0, 0.25);
}

.project-cards {
    display: flex;
    overflow-x: scroll;
}

.project-cards>div {
    width: 180px;
    height: 190px;
    background: #D9D9D9;
    border-radius: 45px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    color: #6C6C6C;
    text-transform: uppercase;
}

footer {
    box-shadow: inset 0px 12px 46px rgba(0, 0, 0, 0.25);
}

footer section {
    display: flex;
    flex-direction: row;
}

footer section div:not(.logo) {
    display: flex;
    flex-direction: column;
}

footer .logo {
    transform: translate(30%, 8%);
    width: 160px;
    height: 160px;
}

footer a {
    color: #6C6C6C;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
    .logo {
        display: none;
    }

    footer .logo {
        display: block;
    }

    .burger-icon {
        display: block;
    }

    .church-photo-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul {
        display: none;
    }

    .confession-button-and-img button {
        font-size: 18px;
        width: 175px;
        height: 46.54px;
    }

    .confession-button-and-img img {
        width: 92px;
        height: 120px;
    }

    .meeting-days-cards-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .meeting-day-card p:first-child {
        margin-bottom: 5px;
        font-size: 18px;
        width: 200px;
        height: 40px;
    }

    .meeting-day-card p:nth-child(2),
    .meeting-day-card p:nth-child(3) {
        font-size: 18px;
    }

    .yt-text-and-img p {
        font-size: 22px;
    }

    .yt-text-and-img img {
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .yt-text-and-img p {
        font-size: 15px;
    }

    .yt-text-and-img img {
        width: 200px;
    }

    .project-cards>div {
        width: 155px;
        height: 165px;
        border-radius: 30px;
    }

    footer .logo {
        margin-bottom: 100px;
    }

    footer section {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 423px) {
    article {
        margin-top: 10px;
    }

    .church-photo-container p {
        font-size: 20px;
    }

    nav,
    section {
        width: calc(100% - 30px);
    }

    .confession-button-and-img {
        flex-direction: column;
    }

    .yt-text-and-img {
        flex-direction: column;
        margin-top: 40px;
    }

    .yt-text-and-img p {
        max-width: 100%;
    }
}